[user]
	name = Dan Nguyen
	email = pedantic@gmail.com
[color]
	ui = auto
[merge]
	summary=true
	tool = bc3
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "bc3"]
	trustExitCode = true
[alias]
	tree = log --graph --decorate --oneline --remotes=origin --remotes=upstream --decorate-refs=refs/remotes/origin --decorate-refs=refs/remotes/upstream --decorate-refs=refs/heads
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --branches --tags --remotes
	lf = log --graph --decorate --pretty=fuller --abbrev-commit --exclude='refs/notes/review' --exclude='refs/stash' --all --name-status
	lp = "!f() { git log --pretty=fuller --abbrev-commit -p ${1:-HEAD^..HEAD}; }; f"
	#dlpr = "!f() { local pr=${1:-ERROR}; git fetch upstream pull/$pr/head:pr-$pr && git checkout pr-$pr; }; f"
	dlpr = "!f() { local pr=${1:-ERROR}; gh pr checkout $pr -b pr-$pr; }; f"
#	up = "!f() { local b=$(git symbolic-ref --short HEAD) && git checkout master && git fetch --all && git rebase upstream/master && git push && git checkout $b; }; f"
[rerere]
	enabled = false
[difftool]
	prompt = false
[core]
	autocrlf = input
[fetch]
	prune = true
[diff]
	wsErrorHighlight = all
[url "https://"]
	insteadOf = git://
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[submodule]
	recurse = true
